{% extends "base.html" %}

{% block title %}Voyage 34: Welcome{% endblock %}

{% block content %}
<h1>Welcome!</h1>

<p>
Voyage 34 is a versatile platform for recording and sharing experiences with psychoactives.
</p>

<a href="/exp?action=add"><button type="button" class="button_addxp">Add experience</button></a>
{% endblock %}
