{% extends "base.html" %}

{% block title %}Voyage 34: Welcome{% endblock %}

{% block content %}
<h1>{{ username }}</h1>

<h2>Experiences</h2>
{% for experience in experiences %}
<div class="experience">
	{{ experience }}
</div>
{% endfor %}

<a href="./exp?action=add"><button type="button" class="button_addxp">Add experience</button></a>
{% endblock %}
