{% extends "base.html" %}

{% block title %}Voyage 34: Add experience{% endblock %}

{% block content %}
<section class="auth_register">
	<h1>Add experience</h1>
	
	{% if error is defined %}
		<span class="error">{{ error }}</span>
	{% endif %}
	
	{% if success is defined %}
		<span class="success">Registration complete!</span>
	{% endif %}
	
	<form method="post" action="./proc/exp.php">
		<ul class="add_entry">
			<li>
				<h2>Title</h2>
				<input type="text" name="title" placeholder="Name your experience!">
			</li>
		
			<li>
				<h2>Date</h2>
				
				<select name="date_day">
				{% for day in 1..31 %}
					{% if day < 10 %}
						{% if day == "now"|date('d') %}
					<option selected="selected">0{{ day }}</option>
						{% else %}
					<option>0{{ day }}</option>
						{% endif %}
					{% else %}
						{% if day == "now"|date('d') %}
					<option selected="selected">{{ day }}</option>
						{% else %}
					<option>{{ day }}</option>
						{% endif %}
					{% endif %}
				{% endfor %}
				</select>
				-
				<select name="date_month">
				{% for month in 1..12 %}
					{% if month < 10 %}
						{% if month == "now"|date('m') %}
					<option selected="selected">0{{ month }}</option>
						{% else %}
					<option>0{{ month }}</option>
						{% endif %}
					{% else %}
						{% if month == "now"|date('m') %}
					<option selected="selected">{{ month }}</option>
						{% else %}
					<option>{{ month }}</option>
						{% endif %}
					{% endif %}
				{% endfor %}
				</select>
				-
				<select name="date_year">
				{% for year in 1960..2014 %}
					{% if year == "now"|date('Y') %}
					<option selected="selected">{{ year }}</option>
					{% else %}
					<option>{{ year }}</option>
					{% endif %}
				{% endfor %}
				</select>
				
				<select name="date_hour">
				{% for hour in 1..23 %}
					{% if hour < 10 %}
						{% if hour == "now"|date('H') %}
					<option selected="selected">0{{ hour }}</option>
						{% else %}
					<option>0{{ hour }}</option>
						{% endif %}
					{% else %}
						{% if hour == "now"|date('H') %}
					<option selected="selected">{{ hour }}</option>
						{% else %}
					<option>{{ hour }}</option>
						{% endif %}
					{% endif %}
				{% endfor %}
				</select>
				:
				<select name="date_minute">
				{% for minute in 0..59 %}
					{% if minute < 10 %}
						{% if hour == "now"|date('i') %}
					<option selected="selected">0{{ minute }}</option>
						{% else %}
					<option>0{{ minute }}</option>
						{% endif %}
					{% else %}
						{% if minute == "now"|date('i') %}
					<option selected="selected">{{ minute }}</option>
						{% else %}
					<option>{{ minute }}</option>
						{% endif %}
					{% endif %}
				{% endfor %}
				</select>
			</li>
			
			<li>
				<h2>Substances</h2>
				
				<ul id="substances">
					<li id="substance_entry">
						T+
						<select name="dose_hour[0]">
						{% for hour in 0..48 %}
							{% if hour < 10 %}
							<option>0{{ hour }}</option>
							{% else %}
							<option>{{ hour }}</option>
							{% endif %}
						{% endfor %}
						</select>
						:
						<select name="dose_minute[0]">
						{% for hour in 0..59 %}
							{% if hour < 10 %}
							<option>0{{ hour }}</option>
							{% else %}
							<option>{{ hour }}</option>
							{% endif %}
						{% endfor %}
						</select>
					
						<select name="substance[0]">
							<option value="0">None</option>
						{% for substance in substances %}
							{% if '- ' in substance %}
							<option disabled>{{ substance }}</option>
							{% else %}
							<option value="{{ substance.1 }}">{{ substance.0 }}</option>
							{% endif %}
						{% endfor %}
						</select>
						
						<select name="dose[0]">
						{% for dose in 1..9999 %}
							<option>{{ dose }}</option>
						{% endfor %}
						</select>
						
						<select name="dose_unit[0]">
							<option value="2">mg</option>
							<option value="1">&micro;g</option>
							<option value="3">g</option>
							<option value="7">mL</option>
							<option value="6">&micro;L</option>
						</select>
						
						<button type="button" class="list_add" id="substance_add">+</button>
					</li>
				</ul>
				
				<ol class="notes">
					<li>To enter a value, rather than to scroll, you can simply highlight the input box and type.</li>
					<li>You can't enter fractions. Therefore, for example, enter 1500mg if you took 1.5g.</li>
					<li>Can't find the substance you're looking for? Check the aliases table, or contact us!</li>
				</ol>
			</li>
			
			<li>
				<h2>Timeline</h2>
				
				<ul id="timeline" class="timeline">
					<li id="timeline_entry">
						<ul>
							<li>
								T+
								<select name="timeline_hour[0]">
								{% for hour in 0..48 %}
									{% if hour < 10 %}
									<option>0{{ hour }}</option>
									{% else %}
									<option>{{ hour }}</option>
									{% endif %}
								{% endfor %}
								</select>
								:
								<select name="timeline_minute[0]">
								{% for hour in 0..59 %}
									{% if hour < 10 %}
									<option>0{{ hour }}</option>
									{% else %}
									<option>{{ hour }}</option>
									{% endif %}
								{% endfor %}
								</select>
							
								<select name="timeline_introspection[0]">
									<option value="unselected" selected="selected" disabled>Introspection</option>
									<option value="0">0</option>
									<option value="-4">- - - -</option>
									<option value="-3">- - -</option>
									<option value="-2">- -</option>
									<option value="-1">-</option>
									<option value="?">+/-</option>
									<option value="1">+</option>
									<option value="2">+ +</option>
									<option value="3">+ + +</option>
									<option value="4">+ + + +</option>
								</select>
								<select name="timeline_visuals[0]">
									<option value="unselected" selected="selected" disabled>Visuals</option>
									<option value="0">0</option>
									<option value="-4">- - - -</option>
									<option value="-3">- - -</option>
									<option value="-2">- -</option>
									<option value="-1">-</option>
									<option value="?">+/-</option>
									<option value="1">+</option>
									<option value="2">+ +</option>
									<option value="3">+ + +</option>
									<option value="4">+ + + +</option>
								</select>
								<select name="timeline_bodyload[0]">
									<option value="unselected" selected="selected" disabled>Bodyload</option>
									<option value="0">0</option>
									<option value="-4">- - - -</option>
									<option value="-3">- - -</option>
									<option value="-2">- -</option>
									<option value="-1">-</option>
									<option value="?">+/-</option>
									<option value="1">+</option>
									<option value="2">+ +</option>
									<option value="3">+ + +</option>
									<option value="4">+ + + +</option>
								</select>
							</li>
							<li>
								<textarea name="timeline_note[0]" placeholder="Notes" class="note"></textarea>
								
								<button type="button" class="list_add" id="timeline_add">+</button>
							</li>
						</ul>
					</li>
				</ul>
				
				<button type="button" id="ratescale_toggle" class="toggle">Show rating scale and summary</button>	
				<table class="notes" id="ratescale" style="display: none;">
					<tr><td style="width: 60px;">- - - -</td><td><b>Traumatic</b>: The experience has become insuperably lunatic.</td></tr>
					<tr><td>- - -</td><td><b>Overwhelming</b>: Negative effects are intruiging and unavoidable.</td></tr>
					<tr><td>- -</td><td><b>Unsettling</b>: The effects have a disturbing influence.</td></tr>
					<tr><td>-</td><td><b>Concerning</b>: A rather unpleasant atmosphere is present.</td></tr>
					<tr><td>0</td><td><b>None</b>: There is no observable effect whatsoever.</td></tr>
					<tr><td>+/-</td><td><b>Uncertain</b>: Perceived effects may or may not be placebo.</td></tr>
					<tr><td>+</td><td><b>Noticeable</b>: There are definite signs of desirable activity.</td></tr>
					<tr><td>+ +</td><td><b>Significant</b>: The effects undeniably enhance the experience.</td></tr>
					<tr><td>+ + +</td><td><b>Indulging</b>: The experience is lead by insuppressible bliss.</td></tr>
					<tr><td>+ + + +</td><td><b>Transcendental</b>: There is no lucidity to what is happening.</td></tr>
				</table>
			</li>
			
			<li>
				<h2>Global</h2>
			
				<textarea placeholder="Vent yourself!" name="notes"></textarea>
			</li>
			
			<li><input type="submit" value="Add" name="add"></li>
		</ul>
	</form>
</form>
			
<script type="text/javascript">
(function(document){
	var substancelist = document.querySelector('#substances');
	document.querySelector("#substance_add").onclick = function() {
		var entry = substancelist.querySelector('#substance_entry');
		var entry_new = entry.cloneNode(true);
		var subcount = substancelist.querySelectorAll('li').length;

		entry_new.id = 'substance_entry['+subcount+']';
		var selectSet = entry_new.querySelectorAll("SELECT");
		var selectSetOrig = entry.querySelectorAll("SELECT");

		for(var i = 0; i < selectSet.length; i++){
			var currentName = selectSet[i].name;
			var nameRegex = /(.*)\[\d+\]/g;
			var matches = nameRegex.exec(currentName);
			selectSet[i].name = matches[1] + "[" +  subcount + "]";	
			selectSet[i].selectedIndex = selectSetOrig[i].selectedIndex;
			selectSetOrig[i].selectedIndex = 0;
			selectSetOrig[i].name = matches[1] + "[0]";	
		}

		entry_new.removeChild(entry_new.querySelector('#substance_add'));
		substancelist.insertBefore(entry_new, entry);
	}
})(document);

(function(document){
	var timeline = document.querySelector("#timeline");
	document.querySelector("#timeline_add").onclick = function(){
		var t_event = timeline.querySelector("#timeline_entry");
		var t_new = t_event.cloneNode(true);
		var t_count = timeline.querySelectorAll("#timeline_entry").length;

		t_new.id = 'timeline_entry['+t_count+']';
		var selectSet = t_new.querySelectorAll("SELECT");
		var selectSetOrig = t_event.querySelectorAll("SELECT");		

		for(var i = 0; i < selectSet.length; i++){
			var currentName = selectSet[i].name;
			var nameRegex = /(.*)\[\d+\]/g;
			var matches = nameRegex.exec(currentName);
			selectSet[i].name = matches[1] + "[" +  t_count + "]";	
			selectSet[i].selectedIndex = selectSetOrig[i].selectedIndex;
			selectSetOrig[i].selectedIndex = 0;
			selectSetOrig[i].name = matches[1] + "[0]";	
		}

		var inputSet = t_new.querySelectorAll("INPUT");
		var inputSetOrig = t_event.querySelectorAll("INPUT");

		for (var i = 0; i < inputSet.length; i++){
			var currentName = inputSet[i].name;
			var nameRegex = /(.*)\[\d+\]/g;
			var matches = nameRegex.exec(currentName);
			inputSet[i].name = matches[1] + "[" +  t_count + "]";	
			inputSet[i].value = inputSetOrig[i].value;
			inputSetOrig[i].value = "";
			inputSetOrig[i].name = matches[1] + "[0]";				
		}

		//t_new.removeChild(t_new.querySelector('LI > #timeline_add'));
		var buttonEl = t_new.querySelector("#timeline_add");
		buttonEl.parentNode.removeChild(buttonEl);
		timeline.insertBefore(t_new, t_event); 
	}
})(document);

$("#ratescale_toggle").click(function() {
	$("#ratescale").toggle(1, function() {
		if($("#ratescale_toggle").text() == "Show rating scale and summary") {
			$("#ratescale_toggle").text("Hide rating scale and summary");
		} else {
			$("#ratescale_toggle").text("Show rating scale and summary");
		}
	});
});
</script>
{% endblock %}
