{% extends "base.html" %}

{% block title %}Voyage 34: Register{% endblock %}

{% block content %}
<section class="auth_register">
	<h1>Login</h1>
	
	{% if error is defined %}
		<span class="error">{{ error }}</span>
	{% endif %}
	
	{% if errorid != 210 %}
	<form method="post" action="./proc/auth.php">
		<ul>
			<li><input type="text" maxlength="20" placeholder="username" name="username"></li>
			<li><input type="password" placeholder="password" name="password"></li>
		
			<li><input type="submit" value="Login" name="login"></li>
		</ul>
	</form>
	
	<p class="notes">
		No account? <a href="./auth?action=register">Create one!</a>
	</p>
	{% endif %}
</form>
{% endblock %}
