{% extends "base.html" %}

{% block title %}Voyage 34: Register{% endblock %}

{% block content %}
<section class="auth_register">
	<h1>Register</h1>
	
	{% if error is defined %}
		<span class="error">{{ error }}</span>
	{% endif %}
	
	{% if success is defined %}
		<span class="success">Registration complete!</span>
	{% endif %}
	
	<form method="post" action="./proc/auth.php">
		<ul>
			<li><input type="text" maxlength="20" placeholder="username" name="username"></li>
			<li><input type="password" placeholder="password" name="password_one"></li>
			<li><input type="password" placeholder="password (repeat)" name="password_two"></li>
			<li style="position: relative;"><input type="text" placeholder="e-mail" name="email"></li>
		
			<li><input type="submit" value="Register" name="register"></li>
			
			<p class="notes">
				Uncomfortable with sharing your e-mail address?<br>
				Feel free to use an e-mail address that's not associated with your daily business.
			</p>
		</ul>
	</form>
</form>
{% endblock %}
