/* GLOBAL */
body {
	color: #222;
	background: url('../img/background.jpg');
	font-family: "Droid Sans", sans-serif;
}

/* text */
b {
	font-weight: bold;
}
h1 {
	color: #4b0080;
	margin: 25px 0;
	font-size: 2em;
}
h2 {
	color: #fff;
	margin: 10px 0;
	font-size: 1.2em;
}
a {
	color: #3b0064;
	text-decoration: none;
}
a:hover {
	color: #9600ff;
	outline: none;
	cursor: pointer;
}

/* CONTAINERS */
.center_wrap {
	width: 1000px;
	position: relative;
	margin: 0 auto;
}

/* SECTIONS */
/* header */
header {
	background: #fff;
	padding: 15px 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
header .logo {
	width: 300px;
	height: 65px;
	background: url('../img/logo.svg') no-repeat;
	background-size: 300px;
	margin: 0;
}
header .logo a {
	width: 100%;
	height: 100%;
	display: block;
	text-indent: -1000%;
}
header .logo a:focus {
	outline: none;
}

/* content */
.content {
	color: #444;
	margin: 50px 0 0 0;
}

.experience {
	background: #fff;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.button_addxp {
	color: #fff;
	background: #9600aa;
	padding: 10px 20px;
	border: 0;
	margin: 20px 0;
}
.button_addxp:hover, .button_addxp:focus {
	outline: none;
	cursor: pointer;
}

/* input fields */
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	padding: 10px;
	border: solid 1px #aaa;
}
textarea {
	width: 250px;
	height: 100px;
}
select, option {
	background: #fff;
	padding: 5px;
	border: solid 1px #aaa;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
	border: solid 1px #9600ff;
	outline: none;
}
select:focus {
	border: solid 1px #9600ff;
	outline: none;
}
/* submit button */
input[type="submit"] {
	color: #fff;
	background: #aaa;
	padding: 11px 20px;
	border: none;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #9600ff;
	outline: none;
	cursor: pointer;
}
form li {
	margin: 10px 0;
}

/* auth panel */
.auth_panel {
	min-width: 200px;
	height: 60px;
	position: absolute;
	top: 50%;
	right: 0;
	margin: -30px 0 0 0;
}
.auth_panel_signup {
	color: #aaa;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: .7em;
}
.auth_panel_signup a {
	color: inherit;
}
.auth_panel_signup a:hover,
.auth_panel_signup a:focus {
	color: #9600ff;
}
.auth_panel_welcome {
	position: absolute;
	top: 15px;
	right: 0;
}
.auth_panel_link {
	position: absolute;
	top: 35px;
	right: 0;
	font-size: .75em;
}
.auth_panel_profile {
	right: 50px;
}

/* auth register */
.auth_register {
	text-align: center;
}
.auth_register input {
	width: 250px;
}
.auth_register input[type="submit"] {
	width: 270px;
}

/* ENTRIES */
.add_entry li {
	position: relative;
	margin: 30px 0;
}
.add_entry li ul li {
	margin: 0;
}
.list_add {
	color: #555;
	background: none;
	position: absolute;
	top: -3px;
	padding: 10px;
	border: none;
	font-weight: bold;
}
.list_add:hover {
	color: #9600ff;
	outline: none;
	cursor: pointer;
}
.list_add:focus {
	outline: none;
}

.timeline input {
	width: 360px;
}

.notes {
	color: #666;
	width: 40%;
	list-style-type: decimal;
	margin: 15px auto;
	line-height: 1.5em;
	font-size: .6em;
}
.notes li {
	margin: 5px 0;
}
.notes tr {
	border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.notes td {
	padding: 5px 0;
	text-align: left;
}
.note {
	width: 380px;
	height: 50px;
}

.toggle {
	color: #666;
	background: none;
	border: none;
	margin: 10px 10px 0 10px;
}
.toggle:hover, .toggle:focus {
	color: #9600aa;
	outline: none;
	cursor: pointer;
}

.add_entry input {
	padding: 6px;
}

.checklist {
	width: 270px;
	margin: 15px auto;
	text-align: left;
	line-height: 1.5em;
}
.checklist input {
	width: 30px;
}

/* feedback */
.error, .success {
	color: #fff;
	background: #a55;
	width: 230px;
	display: block;
	padding: 21px;
	margin: 0 auto;
}
.success {
	background: #5a5;
}
