<!doctype html>
</html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		
		<link href="assets/css/reset.css" type="text/css" rel="stylesheet">
		<link href="assets/css/style.css" type="text/css" rel="stylesheet">
		
		<script src="assets/js/jquery.js"></script>
	</head>
	
	<body>
		<header>
			<div class="center_wrap">
				<h1 class="logo"><a href=".">Voyage 34</a></h1>
				
				<section class="auth_panel">
				{% if username is defined %}
					<span class="auth_panel_welcome">Welcome, {{ username }}</span>
					<a href="./profile"><span class="auth_panel_link auth_panel_profile">profile</span></a>
					<a href="./proc/auth?logout"><span class="auth_panel_link auth_panel_logout">sign off</span></a>
				{% else %}
					<form method="post" action="./proc/auth.php">
						<input type="text" maxlength="20" placeholder="username" name="username">
						<input type="password" placeholder="password" name="password">
						
						<input type="submit" value="Login" name="login">
					</form>
					
					<span class="auth_panel_signup"><a href="./auth?action=register">Oh, we haven't met yet? Sign up!</a></span>
				{% endif %}
				</section>
			</div>
		</header>
		
		<section class="content">
			<div class="center_wrap">
			{% block content %}{% endblock %}
			</div>
		</section>
	</body>
</html>
